.html
  .hader
    = render "shared/header"
  .sell
    = render "shared/sell"
  .pan
    - breadcrumb :user_comfirm
    =render 'layouts/breadcrumbs'
  .contents-mypage
    .contents-mypage__left
      = render "mypages/left"
    .contents-mypage__right
      .contents-mypage__right__title
        本人情報の登録
      .contents-mypage__right__info
        = form_for(current_user) do |f|
          .register3__main__form__name
            %b.label
              お名前
          .form
            =current_user.last_name
            =current_user.first_name
          .register3__main__form__yomi
            %b.label
              お名前カナ
            .form
              =current_user.yomi_last_name
              =current_user.yomi_first_name
          .register3__main__form__yomi
            %b.label
              生年月日
            .form
              =current_user.birth_day
          = f.fields_for :address do |fi|
            .register3__main__form__zip
              %b.label
                郵便番号
                .any
                  任意
              .form
                =fi.text_field :zip, placeholder: '例) 123-4567',class:"login_textfield"
            .register3__main__form__prefecture
              %b.label
                都道府県
                .any
                  任意
              .form
                =fi.select :prefecture,[["--",""],["北海道","北海道"],["青森県","青森県"],["岩手県","岩手県"],["宮城県","宮城県"],["秋田県","秋田県"],["山形県","山形県"],["福島県","福島県"],["茨城県","茨城県"],["栃木県","栃木県"],["群馬県","群馬県"],["埼玉県","埼玉県"],["千葉県","千葉県"],["東京都","東京都"],["神奈川県","神奈川県"],["新潟県","新潟県"],["富山県","富山県"],["石川県","石川県"],["福井県","福井県"],["山梨県","山梨県"],["長野県","長野県"],["岐阜県","岐阜県"],["静岡県","静岡県"],["愛知県","愛知県"],["三重県","三重県"],["滋賀県","滋賀県"],["京都府","京都府"],["大阪府","大阪府"],["兵庫県","兵庫県"],["奈良県","奈良県"],["和歌山県","和歌山県"],["鳥取県","鳥取県"],["島根県","島根県"],["岡山県","岡山県"],["広島県","広島県"],["山口県","山口県"],["徳島県","徳島県"],["香川県","香川県"],["愛媛県","愛媛県"],["高知県","高知県"],["福岡県","福岡県"],["佐賀県","佐賀県"],["長崎県","長崎県"],["熊本県","熊本県"],["大分県","大分県"],["宮崎県","宮崎県"],["鹿児島県","鹿児島県"],["沖縄県","沖縄県"]],class:"login_textfield"
            .register3__main__form__city
              %b.label
                市区町村
                .any
                  任意
              .form
                =fi.text_field :city, placeholder: '例) 横浜市緑区',class:"login_textfield"
            .register3__main__form__number
              %b.label
                番地
                .any
                  任意
              .form
                =fi.text_field :number, placeholder: '例) 青山1-1-1',class:"login_textfield"
            .register3__main__form__building
              %b.label
                建物名
                .any
                  任意
              .form
                =fi.text_field :building, placeholder: '例) 柳ビル103',class:"login_textfield"
          =f.submit "登録する",class:"login_button"
  .footer
    = render "shared/footer"