.header__top
  .header__top__logo
    =link_to root_path do
      = image_tag src="/images/fmarket_logo_red.svg",class: 'mercari'
  .header__top__search
    .header__top__search__text
      =search_form_for(@search,url: search_items_path) do |f|
        =f.search_field :name_cont_any,{class:"search_form",placeholder:"何かお探しですか？"}
        =f.label "" do
          =f.submit '',class:"search_button"
          .header__top__search__icon
            = icon('fas', 'search')
.header__bottom
  %ul.header__bottom__left
    %li.header__bottom__left__category
      =link_to category_categories_path do
        = icon('fas', 'list-ul',class:"list-ul")
        カテゴリーから探す
      = render 'shared/category'
    %li.header__bottom__left__brand
      = icon('fas', 'tag',class:"tag")
      ブランドから探す
  -if user_signed_in?
    .header__bottom__right
      .header__bottom__right__good
        .header__bottom__right__good__icon
        = icon('fas', 'heart',class:"heart")
        .header__bottom__right__good__text
          いいね！一覧
      .header__bottom__right__info
        .header__bottom__right__info__icon
        = icon('fas', 'bell',class:"bell")
        .header__bottom__right__info__text
          お知らせ
      .header__bottom__right__todo
        .header__bottom__right__todo__icon
        = icon('fas', 'check',class:"check")
        .header__bottom__right__todo__text
          やることリスト
      =link_to mypage_mypages_path do
        .header__bottom__right__my
          .header__bottom__right__my__icon
          = icon('fas', 'user',class:"user")
          .header__bottom__right__my__text
            マイページ
  -else
    .header__bottom__right
      =link_to '新規会員登録',new_user_path,class:"header__bottom__right__register"
      =link_to 'ログイン',new_user_session_path,class:"header__bottom__right__login"