.html
  .header
    =render 'shared/header'
  .sell
    =link_to new_item_path ,class:'sell__button'do
      .sell__button__text
        出品
      .sell__button__img
        = icon('fas', 'camera',class:"camera")
  .voucher
    .voucher__name
      -# =@voucher.name
    .voucher__text
      配布中!
      -# %input{type: "hidden", value: @voucher.name, class: 'voucher_name' }
      -# %input{type: "hidden", value: @voucher.code, class: 'voucher_code' }
  .contents
    .contents_carousel
      %ul.carousel
        %li
          = image_tag src="/images/lumine.png"
        %li
          = image_tag src="/images/logo_red.svg"
        %li
          = image_tag src="/images/i_lumine.jpg"
        %li
          = image_tag src="/images/logo_red.svg"
    .contents__title
      %b人気のカテゴリー
      .contents__title__category
        =link_to category_root_categories_path(1),class:"contents__category__womens" do
          レディース
        =link_to category_root_categories_path(2),class:"contents__category__mens" do
          メンズ
        =link_to category_root_categories_path(3),class:"contents__category__kids" do
          子供
    .contents__new
      .contents__new__title
        %bレディース新着アイテム
      =link_to category_root_categories_path(1),class:"contents__new__more" do
        もっと見る
        =icon('fas', 'angle-right')
    %ul.contents__all
      = render 'wemens'
    .contents__new
      .contents__new__title
        %bメンズ新着アイテム
      =link_to category_root_categories_path(2),class:"contents__new__more" do
        もっと見る
        =icon('fas', 'angle-right')
    %ul.contents__all
      = render 'mens'
    .contents__new
      .contents__new__title
        %bキッズ新着アイテム
      =link_to category_root_categories_path(3),class:"contents__new__more" do
        もっと見る
        =icon('fas', 'angle-right')
    %ul.contents__all
      = render 'kids'
  .footer
    = render "shared/footer"