= form_for @item do |f|
  = render 'layouts/errors', model: f.object
  = f.label :出品画像
  #image-box
    #previews
      - if @item.persisted?
        - @item.items_images.each_with_index do |image, i|
          = image_tag image.image_url.url, data: { index: i }, width: "100", height: '100'
    
    = f.fields_for :items_images do |image|
      .js-file_group{"data-index": image.index}
        = image.file_field :image_url, class: 'js-file'
        %br/
        %span.js-remove 削除
        
      - if @item.persisted?
        = image.check_box :_destroy, data:{ index: image.index }, class: 'hidden-destroy'
    - if @item.persisted?
      .js-file_group{"data-index" => @item.items_images.count}
        = file_field_tag :image_url, name: "item[items_images_attributes][#{@item.items_images.count}][image_url]", class: 'js-file'
        .js-remove 削除
 
  %br     
  = f.label :商品名
  = f.text_field :name,placeholder:"商品名(必須40文字まで)",cols:"40"
  %br     
  = f.label :商品の説明
  = f.text_area :description,rows: "5",cols:"1000",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
  %br     
  = f.label :商品詳細
  %br      
  = f.label :商品の状態
  =f.select :"condition",[["---",""],["新品、未使用","新品、未使用"],["未使用に近い","未使用に近い"],["目立った傷や汚れなし","目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]]
  %br     
  = f.label :配送について
  %br     
  = f.label :配送料の負担
  =f.select :"delivery_charge_detail",[["---",""],["送料込み（出品者負担）","送料込み（出品者負担）"],["着払い（購入者負担）","着払い（購入者負担）"]]
  %br     
  = f.label :発送元の地域
  = f.collection_select :delivery_origin, Prefecture.all, :id, :name
  %br     
  = f.label :発送までの日数
  =f.select :"delivery_date", [["---",""],["1~2日で発送","1~2日で発送"],["2~3日で発送","2~3日で発送"],["3~7日で発送","3~7日で発送"]]
  %br 
  = f.label :販売価格
  %br
  = f.label :価格
  = f.number_field :price,placeholder:"例）300"
  = f.submit