.html
  .header
    = render '/shared/header'
  -if (@item.user_id == current_user.id)
    .pan
      - breadcrumb :items,@item
      = render "layouts/breadcrumbs"
  .show-detail
    -if  ( @item.status=="complete" && @item.user_id==current_user.id )
      .show-detail_complete
        .show-detail_complete_left
          .show-detail_complete_left_title
            取引情報
            %table.trans-table
              %tr
                %th 商品
                %td
                  =@item.name
              %tr
                %th 送料
                %td 
                  =@item.delivery_charge_detail
              %tr
                %th 販売手数料
                %td 
                  =fee(@item.price)
              %tr
                %th 販売利益
                %td 
                  =benefit(@item.price)
              %tr
                %th 購入日時
                %td
                  =@item.updated_at.strftime("%Y-%m-%d %H:%M")
              %tr
                %th 商品ID
                %td 
                  =@item.id 
          .show-detail_complete_left_buyinfo
            .show-detail_complete_left_buyinfo_title
              購入情報
            .show-detail_complete_left_buyinfo_element
              .show-detail_complete_left_buyinfo_element_img
                = icon('fas', 'user',class:"user")
              .show-detail_complete_left_buyinfo_element_name
                コースケ
              .show-detail_complete_left_buyinfo_element_arrow
                = icon('fas', 'angle-right',class:"angle")
        .show-detail_complete_right
          .show-detail_complete_right_title
            取引画面
          .show-detail_complete_right_info
            .show-detail_complete_right_info_element
              .show-detail_complete_right_info_element_mark
                = icon('fas', 'check',class:"checkmark")
              .show-detail_complete_right_info_element_text
                取引が完了しました
            .show-detail_complete_right_info_thanks
              このたびはメルカリのご利用ありがとうございました
          .show-detail_complete_right_delete
            この商品を削除する

    -else
      .show-detail_element
        .show-detail_element_title
          =@item.name
        .show-detail_element_main
          .show-detail_element_main_left
            .show-detail_element_main_left_img
              %div.slick1
                - @item.items_images.each do |item|
                  %div
                    %h3.img-element 
                      = image_tag item.image_url.url,class:"img_carusel"

            .show-detail_element_main_left_choice
              %div.slick2
                - @item.items_images.each do |item|
                  %div
                    %h3.img-element 
                      = image_tag item.image_url.url,class:"img_choice"


          .show-detail_element_main_right
            .show-detail_element_main_right_table
              %table.detail-table
                %tr
                  %th 出品者
                  %td
                    =@item.user.nickname
                %tr
                  %th 商品の状態
                  %td 
                    =@item.condition
                %tr
                  %th 配送料の負担
                  %td 
                    =@item.delivery_charge_detail
                %tr
                  %th 配送元地域
                  %td
                    =@item.delivery_origin.name
                %tr
                  %th 発送日の目安
                  %td 
                    =@item.delivery_date 
        .show-detail_element_price
          .show-detail_element_price_yen
            =price_yen(@item.price)
          .show-detail_element_price_intax
            .show-detail_element_price_intax_text
              （税込）
          .show-detail_element_price_detail
            .show-detail_element_price_detail_text
              =@item.delivery_charge_detail
        .show-detail_element_description
          =@item.description
      .show-detail_botton
        -if user_signed_in?
          -if ( @item.status=="exhibition" && @item.user_id==current_user.id )
            .show-detail_botton_edit
              =link_to edit_item_path(@item.id) do
                .show-detail_botton_edit_text
                  商品の編集
            .show-detail_botton_or
              or
            .show-detail_botton_stop
              =link_to stop_items_path(@item.id) do
                出品を一旦停止にする
            
            .show-detail_botton_delete.modal_button
              この商品を削除
            =link_to "" ,item_path(@item),method: :delete,id:"delete_button"

          -elsif (@item.status=="complete" && @item.user_id !=current_user.id)
            .show-detail_botton_soldout
              売り切れました
          -else
            =link_to pay_comfirm_items_path(@item.id) do
              .show-detail_botton_buy
                購入画面に進む
        -else
          =link_to pay_comfirm_items_path(@item.id) do
            .show-detail_botton_buy
              購入画面に進む 
  .footer
    = render '/shared/footer'
  .modal
    .modal__window
      .modal__window__text
        .modal__window__text__title
          確認
        .modal__window__text__detail
          削除すると二度と復活できません。
          %br削除する代わりに停止することもできます。
          %br
          本当に削除しますか？
      .modal__window__button
        .modal__window__button__no
          キャンセル
        .modal__window__button__yes
          削除する
