.html
  .header
    .header__top
      .header__top__logo
        = image_tag src="/images/fmarket_logo_red.svg",class: 'mercari'
      .header__top__search
        .header__top__search__text
          %input{name: "content", type:"text",class: "input",placeholder: '何かお探しですか？'}
          //検索実装時にフォームに変更してください。
        .header__top__search__icon
          = icon('fas', 'search')

    .header__bottom
      .header__bottom__left
        .header__bottom__left__category
          = icon('fas', 'list-ul',class:"list-ul")
          カテゴリーから探す
          .category__all
            %li.category__li
              .category__title1.category-list
                カテゴリー１
              .category__item
                %ul.sub
                  %li.category__sub1.category-list
                    カテゴリー１.１
                    %ul.subsub
                      %li.category__subsub1.category-list
                        カテゴリー１.１.1
                      %li.category__subsub2
                        カテゴリー１.1.2
                  %li.category__sub2
                    カテゴリー１.2

            %li.category__li
              .category__title2
                カテゴリー2
              -# .category__item
              -#   %ul.category__li
              -#     %li.category__sub
              -#       カテゴリー2.１
              -#     %li.category__sub
              -#       カテゴリー2.2

        .header__bottom__left__brand
          = icon('fas', 'tag',class:"tag")
          ブランドから探す
          %ul.brand__all
            %li.brand
              brand1
            %li.brand
              brand2
      .header__bottom__right
        -if user_signed_in?
          = current_user.nickname
          がログイン中
          = link_to "logout",destroy_user_session_path,method: :delete
        -else
          =link_to '新規会員登録',new_user_path,class:"header__bottom__right__register"
          =link_to 'ログイン',user_session_path,class:"header__bottom__right__login"
  .sell
    .sell__text
      出品
    .sell__img
      = icon('fas', 'camera',class:"camera")
  .contents
    .contents__carousel
    .contents__title
      %b アイテム一覧
    %ul.contents__all
      %li.contents__all__item
        .contents__all__item__image
          = image_tag src="/images/fmarket_logo_red.svg",class: 'example'
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム
      %li.contents__all__item
        .contents__all__item__image
          .contents__all__item__image__price
            ¥1,100
        .contents__all__item__name
          千円のアイテム

  .footer
    .footer__top
      = image_tag src="/images/publicdomainq-0030438waljrv.png",class: 'market'
      .footer__top__smartphone
        .footer__top__smartphone__left
          .footer__top__smartphone__left__text
            .footer__top__smartphone__left__text__text1
              スマホでかんたんフリマアプリ
            .footer__top__smartphone__left__text__text2
              いますぐ無料ダウンロード！
          .footer__top__smartphone__left__app
            .footer__top__smartphone__left__app__logo
              = image_tag src="/images/logo_red.svg",class: 'app_logo'
            .footer__top__smartphone__left__app__ios
              =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"
            .footer__top__smartphone__left__app__android
              =image_tag src="https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg" 
        .footer__top__smartphone__right
          = image_tag src="/images/ダウンロード.png",class: 'smartphone'
    .footer__bottom
      .footer__bottom__link
        .footer__bottom__link__about
          .footer__bottom__link__about__title
            メルカリについて
          %ul.footer__bottom__link__about__title__bullet
            %li.footer__bottom__link__about__title__bullet__item
              会社概要
          %ul.footer__bottom__link__about__title__bullet
            %li.footer__bottom__link__about__title__bullet__item
              採用情報
          %ul.footer__bottom__link__about__title__bullet
            %li.footer__bottom__link__about__title__bullet__item
              プレリリース
          .footer__bottom__link__about__sns
            .footer__bottom__link__about__sns__twitter
              = icon('fab', 'twitter')
            .footer__bottom__link__about__sns__facebook
              = icon('fab', 'facebook-square')
           
        .footer__bottom__link__help
          .footer__bottom__link__help__title
            ヘルプ＆ガイド
          %ul.footer__bottom__link__help__title__bullet
            %li.footer__bottom__link__help__title__bullet__item
              ガイド
          %ul.footer__bottom__link__help__title__bullet
            %li.footer__bottom__link__help__title__bullet__item
              ゆう便
          %ul.footer__bottom__link__help__title__bullet
            %li.footer__bottom__link__help__title__bullet__item
              安全について
        .footer__bottom__link__privacy
          .footer__bottom__link__privacy__title
            プライバシーと利用規約
          %ul.footer__bottom__link__privacy__title__bullet
            %li.footer__bottom__link__privacy__title__bullet__item
              プライバシーとポリシー
          %ul.footer__bottom__link__privacy__title__bullet
            %li.footer__bottom__link__privacy__title__bullet__item
              利用規約
        .footer__bottom__link__rule
          %ul.footer__bottom__link__rule__bullet
            %li.footer__bottom__link__rule__bullet__item
              個人データについて
          %ul.footer__bottom__link__rule__bullet
            %li.footer__bottom__link__rule__bullet__item
              特定商取引について
        .footer__bottom__link__country
          .footer__bottom__link__country__title
            国
          %ul.footer__bottom__link__country__title__bullet
            %li.footer__bottom__link__country__title__bullet__item
              日本
            %li.footer__bottom__link__country__title__bullet__item
              United States
      .footer__bottom__copyright
        .footer__bottom__copyright__logo
          = image_tag src="/images/fmarket_logo_white.svg",class: 'logowhite'
        .footer__bottom__copyright__text
          %small &copy; lumine Co.,Ltd.